In [1]:
import pandas as pd
df = pd.read_csv('SismosPeru1960_2023.csv')
df.head()

   LATITUD  LONGITUD  PROFUNDIDAD  MAGNITUD           FECHA_HORA CLASIFICACION
0  -16.145   -72.144           60       7.5  1960-01-13 15:40:34        Fuerte
1  -15.000   -75.000           70       7.0  1960-01-15 09:30:24        Fuerte
2  -14.500   -74.500          150       6.4  1960-01-17 02:57:58        Fuerte
3  -12.500   -68.500          300       5.8  1960-01-23 03:37:32      Moderado
4   -5.500   -77.500          100       5.7  1960-01-30 05:07:24      Moderado

In [2]:
df['FECHA_HORA'] = pd.to_datetime(df['FECHA_HORA'])

In [11]:
df_size = df.groupby(df['FECHA_HORA'].dt.month)['MAGNITUD'].size()

In [12]:
df_size

FECHA_HORA
1     1857
2     1825
3     1977
4     1838
5     1991
6     2113
7     1852
8     2069
9     1740
10    2197
11    2105
12    2116
Name: MAGNITUD, dtype: int64

In [14]:
df_size.index = df_size.index.map({1:'Ene', 2:'Feb', 3:'Mar', 4:'Abr', 5:'May', 6:'Jun', 7:'Jul', 8:'Ago', 9:'Set', 10:'Oct', 11:'Nov', 12:'Dic'})

In [16]:
df_size

FECHA_HORA
Ene    1857
Feb    1825
Mar    1977
Abr    1838
May    1991
Jun    2113
Jul    1852
Ago    2069
Set    1740
Oct    2197
Nov    2105
Dic    2116
Name: MAGNITUD, dtype: int64