# **Programación Orientada a Objetos**

¿Qué es POO?
- La Programación Orientada a Objetos es un estilo de programar en el que organizamos el código como si fuera **objetos del mundo real**

En vez de tener funciones y variables sueltas, crearemos **clases** que describirán cómo son estos objetos y que hacen

Ejemplo de la vida real:
- Una persona tiene **atributos**(característica): nombre, edad, DNI, correo, ubicación
- Una persona también tiene acciones/**métodos**: caminar, hablar, dormir

Conceptos:
- Clase: Es como un molde
    - Ejemplo: El plano de una casa
- Objetos (instancia): Es una casa real construida a partir del plano
- Atributos: Son **características** de un objeto
- Métodos: Son acciones que el objeto puede hacer (Abrir puerta, encender luces)
- self: Es la forma en la que un objeto en Python se refiere a sí mismo.

Ventajas de POO
- Organizar mejor el código
- Facilitar reutilizar el código
- Ayuda a manejar datos complejos(arrays, dataframes, series)

In [16]:
# TIPOS DE DATOS
# int, float, str, bool
# int: 1, -3, 0 (enteros)
# float: 1.2, -2.5, 0.0 (decimales)
# str: 'hola', "chau" (texto)
# bool: True, False

In [1]:
# Definimos una clase (molde)
class Persona:
    # metodo constructor
    def __init__(self, nombre, edad):
        # atributos
        self.nombre = nombre
        self.edad = edad

    def saludar(self): # método
        return f'Hola, soy {self.nombre} y tengo {self.edad} años'

In [2]:
# Crear los objetos (instancias)
p1 = Persona('Leonardo', 28)
p2 = Persona('Maria', 35)

In [6]:
p1.nombre # atributos

'Leonardo'

In [5]:
p2.edad # atributos

35

In [7]:
p1.saludar() # metodo

'Hola, soy Leonardo y tengo 28 años'

In [8]:
p2.saludar() # metodo

'Hola, soy Maria y tengo 35 años'

Ejercicio: Clase Rectángulo

In [10]:
# SIN POO
base = 3
altura = 2

def area_rectangulo(base, altura):
    return base * altura

def perimetro_rectangulo(base, altura):
    return 2 * (base + altura)

In [11]:
# CON POO
class Rectangulo:
    # metodo constructor
    def __init__(self, base, altura):
        # atributos
        self.base = base
        self.altura = altura

    def area(self):
        return self.base * self.altura

    def perimetro(self):
        return 2 * (self.base + self.altura)

In [17]:
# Crear objeto Rectangulo
r = Rectangulo(5, 3)

In [19]:
r.area() # metodo

15

In [20]:
r.perimetro()

16

Ejercicio: Clase Empleado

In [23]:
class Empleado:
    def __init__(self, nombre, cargo, salario):
        self.nombre = nombre
        self.cargo = cargo
        self.salario = salario

    def bono(self):
        return self.salario * 0.1

In [24]:
e1 = Empleado('Lucia', 'Analista', 3000)

In [29]:
e2 = Empleado('Leonardo', 'Marketing')

TypeError: Empleado.__init__() missing 1 required positional argument: 'salario'

In [28]:
print(f'{e1.nombre} -> bono: {e1.bono()}')

Lucia -> bono: 300.0

Ejercicio: Clase Cuenta Simple

In [30]:
class Cuenta:
    def __init__(self, saldo=0):
        self.saldo = saldo

    def depositar(self, monto):
        if monto > 0:
            self.saldo += monto
        else:
            print('Solo acepto cantidades positivas')

    def retirar(self, monto):
        if monto <= self.saldo:
            self.saldo -= monto
        else:
            print('Fondos insuficientes')

In [32]:
c = Cuenta(100)

In [33]:
c.depositar(-12)

Solo acepto cantidades positivas

In [34]:
c.saldo

100

In [35]:
c.depositar(50)

In [36]:
c.saldo

150

In [37]:
c.retirar(200)

Fondos insuficientes

In [38]:
c.retirar(100)

In [39]:
c.saldo

50

Ejercicio: Clase Sensor de Temperatura (simulación)

In [40]:
import random

class Sensor:
    def __init__(self):
        self.datos = []

    def registrar(self):
        temp = round(random.uniform(18, 30), 2) # Simular una lectura
        # Agregar temp a mi lista self.datos
        self.datos.append(temp)
        return temp

    def promedio(self):
        return sum(self.datos) / len(self.datos)

    def maxima(self):
        return max(self.datos)

In [41]:
s = Sensor()

In [42]:
# Bucle for
for i in range(5):
    print(f'Lectura: {s.registrar()}')

Lectura: 18.87
Lectura: 27.5
Lectura: 24.99
Lectura: 19.39
Lectura: 26.0

In [43]:
s.datos

[18.87, 27.5, 24.99, 19.39, 26.0]

In [44]:
s.promedio()

23.35

In [45]:
s.maxima()

27.5

Ejercicio: Aplicado a Análisis de Datos

In [47]:
import pandas as pd # Manipulación de datos tabulares

In [48]:
class AnalizadorCSV:
    def __init__(self, ruta):
        self.df = pd.read_csv(ruta)

    def resumen_col(self, col):
        return self.df[col].describe()

In [49]:
df = AnalizadorCSV('SismosPeru1960_2023.csv')

In [51]:
df.resumen_col('MAGNITUD')

count    23680.000000
mean         4.722078
std          0.438076
min          3.000000
25%          4.500000
50%          4.700000
75%          4.900000
max          8.400000
Name: MAGNITUD, dtype: float64

In [52]:
df.resumen_col('PROFUNDIDAD')

count    23680.000000
mean        71.097593
std         66.236335
min          0.000000
25%         29.000000
50%         48.000000
75%        106.000000
max        743.000000
Name: PROFUNDIDAD, dtype: float64

Ejercicio: Reporte automático de ventas

In [53]:
data = {
    "producto":["Laptop","Mouse","Laptop","Teclado","Mouse","Laptop","Monitor"],
    "monto":[3000,50,3500,100,70,2800,1200],
    "vendedor":["Ana","Luis","Ana","Luis","Ana","Pedro","Pedro"],
    "fecha":["2023-01-10","2023-01-15","2023-02-20","2023-02-25","2023-03-01","2023-03-10","2023-03-15"]
}
df = pd.DataFrame(data)
df.head()

  producto  monto vendedor       fecha
0   Laptop   3000      Ana  2023-01-10
1    Mouse     50     Luis  2023-01-15
2   Laptop   3500      Ana  2023-02-20
3  Teclado    100     Luis  2023-02-25
4    Mouse     70      Ana  2023-03-01

In [57]:
class ReporteVentas:
    def __init__(self, df):
        self.df = df

    def ventas_por_producto(self):
        return self.df.groupby('producto')['monto'].sum().sort_values(ascending=False)

    def ventas_por_mes(self):
        self.df['mes'] = pd.to_datetime(self.df['fecha']).dt.to_period('M')
        return self.df.groupby('mes')['monto'].sum()

    def resumen_general(self):
        total = self.df['monto'].sum()
        promedio = self.df['monto'].mean()
        cantidad = len(self.df)
        ticket_prom = total / cantidad
        return {
            'Total ventas': total,
            'Promedio venta': promedio,
            'Cantidad ventas': cantidad,
            'Ticket promedio': ticket_prom
        }

In [58]:
reporte = ReporteVentas(df)

In [59]:
print('Ventas por producto:')
reporte.ventas_por_producto()

Ventas por producto:

producto
Laptop     9300
Monitor    1200
Mouse       120
Teclado     100
Name: monto, dtype: int64

In [60]:
print('Ventas por mes:')
reporte.ventas_por_mes()

Ventas por mes:

mes
2023-01    3050
2023-02    3600
2023-03    4070
Freq: M, Name: monto, dtype: int64

In [61]:
print('Resumen general:')
reporte.resumen_general()

Resumen general:

{'Total ventas': np.int64(10720),
 'Promedio venta': np.float64(1531.4285714285713),
 'Cantidad ventas': 7,
 'Ticket promedio': np.float64(1531.4285714285713)}