![Redes Sociales](../redes_sociales_pythonperu.png)

### üß™ Mini Proyecto: Registro de Encuesta de Satisfacci√≥n de Clientes

Una tienda desea registrar las opiniones de los clientes sobre su servicio. Se recoge el nombre del cliente, su edad y una calificaci√≥n del servicio de 1 a 5.  

Luego, se calcula:

- Cu√°ntos clientes participaron

- Promedio de edad

- Promedio de calificaci√≥n

- Lista de clientes satisfechos (calificaci√≥n ‚â• 4)

- Estructura del proyecto: 

    - diccionarios: almacenan informaci√≥n de cada cliente
    - bucles while: registro interactivo de m√∫ltiples personas
    - bucles for: recorrido para c√°lculos agregados
    - condicionales: Recorrido para c√°lculos agregados
    - operaciones: c√°lculo promedios y conteo

### **Fase 01: Registro de datos**
- Una lista para guardar los clientes
- Un diccionario para guardar los datos de cada cliente
- Un bucle while para ingresar los multiples clientes
- Pregunta: ¬øDesea ingresar otro cliente?

### **Fase 02: Validaci√≥n de datos**
- Verificar la calificaci√≥n si est√° entre 1 y 5
- As√≠ evitaremos datos incorrectos

### **Fase 03: Almacenamiento**
-  Agregar cada cliente(dict) a clientes(list)

### **Fase 04: Procesamiento de datos**
- Usar variables para recorrer las estructuras
- Realizar los c√°lculos solicitados

### **Fase 05: Resultado finales**
- Imprimir los resultados

In [4]:
# Lista para almacenar los datos de los clientes
clientes = []

print('Bienvenido a la encuesta de satisfacci√≥n del cliente')
# Iniciamos un bucle para ingresar datos de clientes
while True:
    cliente = {}
    # Solicitamos los datos del cliente
    cliente['nombre'] = input('Ingrese su nombre: ')
    cliente['edad'] = int(input('Ingrese su edad: '))
    
    # Validamos que la edad sea un n√∫mero positivo
    while True:
        calificacion = float(input('Califique nuestro servicio del 1 al 5: '))
        # Validamos que la calificaci√≥n est√© entre 1 y 5
        if (1 <= calificacion <= 5):
            cliente['calificacion'] = calificacion
            break
        else:
            print('Calificaci√≥n inv√°lida. Debe ser un n√∫mero entre 1 y 5.')
    # Agregamos el cliente a la lista
    clientes.append(cliente)
    # Deseas continuar?
    continuar = input('¬øDesea ingresar otro cliente? (s/n): ')
    if continuar.lower() != 's':
        break

# Procesamos los datos
total_clientes = len(clientes)
suma_calificaciones = suma_edades = 0
clientes_satisfechos = []

for cliente in clientes:
    suma_edades += cliente['edad']
    suma_calificaciones += cliente['calificacion']
    
    if (cliente['calificacion'] >= 4):
        clientes_satisfechos.append(cliente['nombre'])

# Calculamos el promedio de calificaciones

# if (total_clientes > 0):
#     promedio_calificaciones = suma_calificaciones / total_clientes
# else:
#     promedio_calificaciones = 0

# if (total_clientes > 0):
#     promedio_edad = suma_edades / total_clientes
# else:
#     promedio_edad = 0

# Operador ternario para calcular el promedio de calificaciones
promedio_calificaciones = suma_calificaciones / total_clientes if total_clientes > 0 else 0
promedio_edades = suma_edades / total_clientes if total_clientes > 0 else 0

# Mostramos los resultados
print(f'\nTotal de clientes encuestados: {total_clientes}')
print(f'Promedio de calificaciones: {promedio_calificaciones:.2f}')
print(f'Promedio de edades: {promedio_edades:.2f}')
print('Clientes satisfechos:', ', '.join(clientes_satisfechos) if clientes_satisfechos else 'Ninguno')
print('Gracias por participar en la encuesta.')

Bienvenido a la encuesta de satisfacci√≥n del cliente

Total de clientes encuestados: 7
Promedio de calificaciones: 4.21
Promedio de edades: 23.71
Clientes satisfechos: Leonardo, Kaike, Rafael, Tiago, Carlos
Gracias por participar en la encuesta.

In [5]:
clientes

[{'nombre': 'Leonardo', 'edad': 10, 'calificacion': 4.6},
 {'nombre': 'Kaike', 'edad': 26, 'calificacion': 4.0},
 {'nombre': 'Rafael', 'edad': 30, 'calificacion': 4.6},
 {'nombre': 'Tiago', 'edad': 34, 'calificacion': 4.2},
 {'nombre': 'Santy', 'edad': 13, 'calificacion': 3.4},
 {'nombre': 'Carlos', 'edad': 35, 'calificacion': 4.9},
 {'nombre': 'Freddy', 'edad': 18, 'calificacion': 3.8}]

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(clientes)

In [9]:
df.head()

     nombre  edad  calificacion
0  Leonardo    10           4.6
1     Kaike    26           4.0
2    Rafael    30           4.6
3     Tiago    34           4.2
4     Santy    13           3.4

In [11]:
df[(df['calificacion'] >= 4) & (df['edad']>= 25)]

   nombre  edad  calificacion
1   Kaike    26           4.0
2  Rafael    30           4.6
3   Tiago    34           4.2
5  Carlos    35           4.9