![Redes Sociales](../redes_sociales_pythonperu.png)

# **游꿢Mini proyecto: Registro de ventas de una tienda**

Vas a simular la gesti칩n de un registro de ventas de una peque침a tienda. El objetivo es usar pandas para:

- Crear el DataFrame inicial

- A침adir registros nuevos

- Editar registros existentes

- Filtrar ventas por fecha, producto o monto

- Generar estad칤sticas b치sicas: total vendido, venta promedio, producto m치s vendido, etc.

- Guardar y leer los datos en CSV o Excel

Columna	Descripci칩n:
- ID:	ID de la venta (autoincremental)
- Fecha:	Fecha de la venta
- Cliente:	Nombre del cliente
- Producto:	Nombre del producto vendido
- Cantidad:	Unidades vendidas
- Precio Unitario:	Precio por unidad
- Total:	Total de la venta (Cantidad * Precio Unitario)

In [2]:
# ! pip install pandas
# Manipulaci칩n de datos
import pandas as pd

In [ ]:
data = {
    'ID': [0, 1],
    'Fecha': ['2023-10-01', '2023-10-02'],
    'Cliente': ['Juan Rivera', 'Ana Gomez'],
    'Producto': ['Laptop', 'Mouse'],
    'Cantidad': [1, 3],
    'Precio Unitario': [1500, 110],
}

In [4]:
df = pd.DataFrame(data)
df.head()  # Muestra las primeras filas del DataFrame

   ID       Fecha      Cliente Producto  Cantidad  Precio Unitario
0   0  2023-10-01  Juan Rivera   Laptop         1             1500
1   1  2023-10-02    Ana Gomez    Mouse         3              110

In [5]:
df.info()  # Informaci칩n general del DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2 non-null      int64
 1   Fecha            2 non-null      object
 2   Cliente          2 non-null      object
 3   Producto         2 non-null      object
 4   Cantidad         2 non-null      int64
 5   Precio Unitario  2 non-null      int64
dtypes: int64(3), object(3)
memory usage: 228.0+ bytes

In [6]:
# Seleccionar una columna
df['Cliente']

0    Juan Rivera
1      Ana Gomez
Name: Cliente, dtype: object

In [9]:
# Agregar una nueva columna
df['Total'] = df['Cantidad'] * df['Precio Unitario']

In [13]:
df.head()

   id       fecha      cliente producto  cantidad  precio_unitario  total
0   0  2023-10-01  Juan Rivera   Laptop         1             1500   1500
1   1  2023-10-02    Ana Gomez    Mouse         3              110    330

In [ ]:
# Convencion snake_case para nombres de columnas
df.columns = df.columns.str.strip().str.replace(' ', '_').str.lower()

In [14]:
# A침adir un registro nuevo
nueva_venta = {
    'id': 2,
    'fecha': '2023-10-03',
    'cliente': 'Carlos Perez',
    'producto': 'Teclado',
    'cantidad': 2,
    'precio_unitario': 50,
}

nueva_venta['total'] = nueva_venta['cantidad'] * nueva_venta['precio_unitario']

df = pd.concat([df, pd.DataFrame([nueva_venta])], ignore_index = True)
df.head()

   id       fecha       cliente producto  cantidad  precio_unitario  total
0   0  2023-10-01   Juan Rivera   Laptop         1             1500   1500
1   1  2023-10-02     Ana Gomez    Mouse         3              110    330
2   2  2023-10-03  Carlos Perez  Teclado         2               50    100

- Editar registros existentes

In [ ]:
# Cambiar cantidad de venta
filtro = (df['id'] == 2)

df.loc[filtro, 'cantidad'] = 5
df.loc[filtro, 'total'] = df.loc[filtro, 'cantidad'] * df.loc[filtro, 'precio_unitario']
df.head()

   id       fecha       cliente producto  cantidad  precio_unitario  total
0   0  2023-10-01   Juan Rivera   Laptop         1             1500   1500
1   1  2023-10-02     Ana Gomez    Mouse         3              110    330
2   2  2023-10-03  Carlos Perez  Teclado         5               50    250

- Filtrar ventas por fecha, producto o monto

In [16]:
# Ventas mayores a 500
filtro1 = df['total'] > 500
ventas_mayores = df[filtro1]
ventas_mayores

   id       fecha      cliente producto  cantidad  precio_unitario  total
0   0  2023-10-01  Juan Rivera   Laptop         1             1500   1500

In [17]:
# Cantidad > 2 y total > 100
filtro2 = df['cantidad'] > 2
filtro3 = df['total'] > 100

df[filtro2 & filtro3]

   id       fecha       cliente producto  cantidad  precio_unitario  total
1   1  2023-10-02     Ana Gomez    Mouse         3              110    330
2   2  2023-10-03  Carlos Perez  Teclado         5               50    250

In [19]:
df.set_index('id', inplace = True)

In [20]:
df.head()

         fecha       cliente producto  cantidad  precio_unitario  total
id
0   2023-10-01   Juan Rivera   Laptop         1             1500   1500
1   2023-10-02     Ana Gomez    Mouse         3              110    330
2   2023-10-03  Carlos Perez  Teclado         5               50    250


- Generar estad칤sticas b치sicas: total vendido, venta promedio, producto m치s vendido, etc.

In [26]:
suma_total = df['total'].sum()
promedio_total = df['total'].mean()

print(f'Total vendido: S/{suma_total}')
print(f'Venta promedio: S/{promedio_total:.2f}')

Total vendido: S/2080
Venta promedio: S/693.33


- Guardar y leer los datos en CSV o Excel

In [27]:
# Guardar en CSV
df.to_csv('registro_ventas.csv', index = False)

In [29]:
# Leer CSV
df_lectura = pd.read_csv('registro_ventas.csv')
df_lectura.head()

        fecha       cliente producto  cantidad  precio_unitario  total
0  2023-10-01   Juan Rivera   Laptop         1             1500   1500
1  2023-10-02     Ana Gomez    Mouse         3              110    330
2  2023-10-03  Carlos Perez  Teclado         5               50    250