![Redes Sociales](../redes_sociales_pythonperu.png)

# **Funciones en Python para Análisis y Automatización de Datos**

### 1. Introducción a Funciones en Python  

Definición: Una función es un bloque de código reutilizable que realiza una tarea específica.

Ventajas:

- Reutilización de código

- Organización y claridad

- Mantenimiento más sencillo

- Escalabilidad (se usan en análisis de datos, ML, automatizaciones)

In [2]:
# Ejemplo básico
nombre = 'Leonardo'
print(f'Hola {nombre}, bienvenido al Live!')

Hola Leonardo, bienvenido al Live!

In [3]:
nombre = 'Ricardo'
print(f'Hola {nombre}, bienvenido al Live!')

Hola Ricardo, bienvenido al Live!

In [4]:
nombre = 'Vladimir'
print(f'Hola {nombre}, bienvenido al Live!')

Hola Vladimir, bienvenido al Live!

In [5]:
# Definición de la función "saludo"
def saludo(nombre1):
    return f'Hola {nombre1}, bienvenido al Live!'

In [6]:
# Llamado a "saludo"
saludo('Leonardo')

'Hola Leonardo, bienvenido al Live!'

In [7]:
saludo('Ricardo')

'Hola Ricardo, bienvenido al Live!'

In [8]:
saludo('Vladimir')

'Hola Vladimir, bienvenido al Live!'

In [9]:
# Asignar una función a una variable
def area_triangulo(base, altura):
    return (base * altura) / 2

In [10]:
area_triangulo(6, 7)

21.0

In [11]:
ABC_area = area_triangulo(8, 5)
print(ABC_area)

20.0

In [12]:
# Reconocer un tipo de dato
type(area_triangulo(8, 5))
# float: Numero decimal

float

### 2. Ejercicios Básicos
Ejercicio 1: Calcular el promedio de una lista

In [13]:
# Solución
# list: estructura de datos mutable(que se puede modificar)
def promedio(lista):
    return sum(lista) / len(lista)

In [14]:
notas_A = [14, 17, 19, 13, 16]
promedio(notas_A)

15.8

In [15]:
temperaturas = [16, 18.6, 20, 22.3, 14.4, 15, 16.3]
promedio(temperaturas)

17.514285714285716

Ejercicio 2: Convertir soles a dólares

In [16]:
# Solución
def convertir_pen_usd(soles, tipo_cambio=3.55):
    return (soles / tipo_cambio)

In [17]:
convertir_pen_usd(1400)

394.3661971830986

In [18]:
convertir_pen_usd(2200, 3.62)

607.7348066298342

In [19]:
convertir_pen_usd(2200)

619.7183098591549

### 3. Funciones con Condicionales

Ejercicio 3: Clasificación de notas

In [20]:
# Solución
def clasificar_nota(nota):
    # si nota es mayor o igual que 14
    if (nota >= 14):
        return 'Aprobado'
    else:
        return 'Desaprobado'

In [21]:
clasificar_nota(15)

'Aprobado'

In [22]:
# Sin organizacion
lista_notas = [16.7, 15.6, 19.6, 20]
clasificar_nota(promedio(lista_notas))

'Aprobado'

In [23]:
# Organizacion
# Crear una lista de notas
lista_notas = [16.7, 15.6, 19.6, 20]
# Promediando mis notas 
nota_promedio = promedio(lista_notas)
# Usando la función para clasificar mi nota promedio
clasificar_nota(nota_promedio)

'Aprobado'

Ejercicio 4: Contar palabras en un texto

In [24]:
# Solución
def contar_palabras(texto):
    palabras = texto.split()
    return len(palabras)

In [25]:
parrafo = 'Mi apellido es Rivera. Mi nombre es Juan' # string (str)
# Convierte de texto a una lista
parrafo.split()

['Mi', 'apellido', 'es', 'Rivera.', 'Mi', 'nombre', 'es', 'Juan']

In [26]:
# Retorna el numero de elemento de la lista
len(parrafo.split())

8

In [27]:
contar_palabras('Mi apellido es Rivera. Mi nombre es Juan')

8

In [28]:
'Mi apellido es, Rivera.'.replace(',', ' ,')

'Mi apellido es , Rivera.'

### 4. Funciones con Bucles

In [35]:
# sum(): Suma los numeros de una lista
print(lista_notas)
sum(lista_notas)

[16.7, 15.6, 19.6, 20]

71.9

In [30]:
# Una función para realizar una suma de números
def sumar(lista):
    suma = 0
    for i in lista:
        suma += i
    return suma

In [36]:
suma = 0
for nota in lista_notas:
    suma += nota

print(suma)

71.9

In [37]:
sumar(lista_notas)

71.9

In [38]:
sumar(temperaturas)

122.60000000000001

In [39]:
sumar([20, 24, 39, 55])

138

In [40]:
max(temperaturas)

22.3

In [41]:
def maximo(lista):
    num_max = lista[0]
    for i in lista:
        if i > num_max:
            num_max = i
    return num_max

In [42]:
maximo(temperaturas)

22.3

### 5. Funciones Avanzadas (Data Analysis)

Ahora llevamos las funciones al mundo real de datos.

Ejercicio 5: Calcular estadísticas de ventas

In [43]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\leona\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\leona\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leona\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\leona\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\leona\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\leona\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [44]:
# Solución
import pandas as pd

# Dataset de ejemplo
data = {'producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor'],
       'monto': [4000, 300, 250, 700]}

df = pd.DataFrame(data)
df.head()

  producto  monto
0   Laptop   4000
1    Mouse    300
2  Teclado    250
3  Monitor    700

In [45]:
def estadistica_venta(df):
    total = df['monto'].sum()
    promedio = df['monto'].mean()
    maximo = df['monto'].max()
    return {'total':total, 'promedio':promedio, 'maximo':maximo}

In [46]:
estadistica_venta(df)

{'total': np.int64(5250),
 'promedio': np.float64(1312.5),
 'maximo': np.int64(4000)}

### 6. Funciones (Modularización)
Ejercicio 6: Reporte de incidencias

In [47]:
# Solución
data = {'tipo': ['robo', 'incendio', 'comercio ambulatorio'],
       'cantidad':[24, 6, 18]}

df = pd.DataFrame(data)
df

                   tipo  cantidad
0                  robo        24
1              incendio         6
2  comercio ambulatorio        18

In [48]:
def total_incidencias(df):
    return df['cantidad'].sum()

def incidencias_comun(df):
    indice = df['cantidad'].idxmax()
    return df.loc[indice, 'tipo']

def reporte_incidencias(df):
    return {
        'total': total_incidencias(df),
        'mayor incidencia': incidencias_comun(df)
    }

reporte_incidencias(df)

{'total': np.int64(48), 'mayor incidencia': 'robo'}

### 7. Caso Real: Automatización de Reportes

Ahora juntamos todo en una automatización real → algo que sí usaría un analista de datos en el trabajo.

**Problema real**: Cada semana se recibe un archivo de ventas. Queremos:

1. Leer los datos.

2. Calcular estadísticas.

3. Guardar un reporte automático.

In [65]:
# Solución
data = {'producto': ['laptop', 'mouse', 'teclado', 'laptop', 'monitor'],
       'categoria': ['electronica', 'accesorios', 'accesorios', 'electronica','electronica'],
       'monto': [4000, 300, 250, 4200, 700]}

In [66]:
df = pd.DataFrame(data)
df

  producto    categoria  monto
0   laptop  electronica   4000
1    mouse   accesorios    300
2  teclado   accesorios    250
3   laptop  electronica   4200
4  monitor  electronica    700

In [80]:
# Funciones
def resumen_general(df):
    return df['monto'].describe()

def ventas_por_categoria(df):
    return df.groupby('categoria')['monto'].sum()

def generar_reporte(df, nombre='reporte.csv'):
    reporte = {'resumen': resumen_general(df).to_dict()}

    # Convertir a DataFrame y guardamos
    reporte_df = pd.DataFrame.from_dict(reporte, orient='index').transpose()
    reporte_df.to_csv(nombre)
    return f'Reporte generado: {nombre}'

In [81]:
# Automatizacion
generar_reporte(df, 'reporte_setiembre.csv')

'Reporte generado: reporte_setiembre.csv'

In [85]:
# Lectura de datos
df = pd.read_csv('reporte_setiembre.csv', index_col=0)
df.head()

           resumen
count     5.000000
mean   1890.000000
std    2026.203346
min     250.000000
25%     300.000000

.