![Redes Sociales](../redes_sociales_pythonperu.png)

In [1]:
from functools import reduce

‚úÖ D√çA 2: Programaci√≥n funcional en Python ‚Äì lambda, map, filter, reduce

1. lambda (Funciones an√≥nimas)
- Funciones peque√±as que se definen sin nombre:

In [2]:
f = lambda x: x * 2
print(f(5))  # Resultado: 10

10

.

2. map(function, iterable)
- Aplica una funci√≥n a cada elemento de una lista:

In [3]:
numeros = [1, 2, 3, 4]
dobles = list(map(lambda x: x * 2, numeros))
print(dobles)

[2, 4, 6, 8]

In [4]:
cubos = list(map(lambda x: x ** 3, numeros))
print(cubos)

[1, 8, 27, 64]

.

3. filter(function, iterable)
- Filtra elementos de una lista seg√∫n una condici√≥n:

In [5]:
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)

[2, 4]

In [6]:
impares = list(filter(lambda x: x % 2 != 0, numeros))
print(impares)

[1, 3]

4. reduce(function, iterable) ‚Äì Requiere functools
- Reduce una lista a un solo valor aplicando una funci√≥n acumulativa:

In [7]:
suma = reduce(lambda x, y: x + y, numeros)  # Resultado: 10
print(suma)

10

- Recuerda que reduce siempre tomar√° solo 2 argumentos

.

üéØ ¬øPara qu√© sirven?
- ‚úÖ map() ‚Äî Transformar datos

üìå Ejemplo en Ciencia de Datos:
- Tienes una lista de precios en soles y quieres convertirla a d√≥lares:

In [8]:
precios_soles = [10, 20, 50, 100]
tipo_cambio = 3.8
# Utilizamos la funcion map y lambda
precios_dolares = list(map(lambda x: round(x / tipo_cambio, 2), precios_soles))
print(precios_dolares)

[2.63, 5.26, 13.16, 26.32]

üß† √ötil para:

- Escalar datos

- Normalizar columnas

- Limpiar texto

- Convertir fechas, monedas, formatos

.

‚úÖ filter() ‚Äî Filtrar datos

üìå Ejemplo en Ciencia de Datos:
- Filtrar edades mayores o iguales a 18 a√±os:

In [9]:
edades = [12, 17, 18, 25, 30]

mayores = list(filter(lambda x: x >= 18, edades))
print(mayores)

[18, 25, 30]

üß† √ötil para:

- Filtrar valores nulos, cero o extremos

- Seleccionar filas que cumplan condiciones

- Limpiar datos antes del modelad

.

‚úÖ reduce() ‚Äî Reducir datos a un valor



üìå Ejemplo en Ciencia de Datos:
- Calcular el producto acumulado de una lista:

In [10]:
valores = [1.1, 1.05, 0.95]
crecimiento_total = reduce(lambda x, y: x * y, valores)
print(crecimiento_total)

1.0972500000000003

üß† √ötil para:

- Calcular suma total, promedio manual

- Combinar textos en una sola cadena

- Operaciones acumulativas o encadenadas

.

üß™ Ejercicios pr√°cticos


1. Usa map para elevar una lista de n√∫meros al cuadrado.

2. Usa filter para quedarte solo con los mayores a 10.

3. Usa lambda para definir una funci√≥n que invierta una cadena.

4. Crea una funci√≥n que convierta una lista de precios en soles a d√≥lares con map.

5. Usa filter para quedarte solo con los nombres que empiecen con la letra ‚ÄúA‚Äù.

6. Usa reduce para multiplicar todos los elementos de una lista.

7. Haz un map + filter para transformar una lista de edades y filtrar solo los mayores de edad convertidos a cadena.

In [11]:
# 1
numeros = [1,2,3,4,5]
cuadrados = list(map(lambda x: x ** 2, numeros))
print(cuadrados)

[1, 4, 9, 16, 25]

In [12]:
# 2
mayores = list(filter(lambda x: x > 10, cuadrados))
print(mayores)

[16, 25]

In [13]:
# 3
cadena = 'Hola'
invertido = lambda x: x[::-1]
invertido(cadena)

'aloH'

In [14]:
# 4
soles = [3.2,4.5,10.2]
tasa_cambio = 3.68
dolares = list(map(lambda x: round(x / tasa_cambio, 2), soles))
print(dolares)

[0.87, 1.22, 2.77]

In [15]:
# 5
nombres = ['Ana', 'Rocio', 'Juan', 'Angela', 'Ariana', 'Antero']

nombreA = list(filter(lambda x: x[0].startswith('A'), nombres))
print(nombreA)

['Ana', 'Angela', 'Ariana', 'Antero']

In [16]:
# 6
suma = reduce(lambda x, y: x + y, soles)
print(suma)

17.9

In [17]:
# 7
# Haz un map + filter para transformar una lista de edades y filtrar solo los mayores de edad convertidos a cadena.
edades = [19, 20, 16, 17, 18]

cadenas = list(map(lambda x: str(x),filter(lambda x: x >= 18, edades)))
print(cadenas)

['19', '20', '18']

.

üß† Temas m√°s avanzados con map, filter, reduce

1. Uso combinado de map + filter
- Combinas ambas funciones en una sola l√≠nea para transformar y luego filtrar (o al rev√©s).

In [18]:
# Datos crudos: ingresos mensuales en soles
ingresos = [1500, 2500, 0, 3000, -200, 4500]

In [19]:
# Paso 1: Eliminar valores no v√°lidos
# Paso 2: Convertir a d√≥lares (tipo de cambio: 3.7)

ingresos_validos = list(
    map(lambda x: round(x / 3.7, 2),filter(lambda x: x >= 0, ingresos)))

print(ingresos_validos)

[405.41, 675.68, 0.0, 810.81, 1216.22]

2. Aplicaci√≥n sobre estructuras m√°s complejas
- Trabajar con map, filter y reduce sobre listas de diccionarios o listas anidadas.

In [20]:
clientes = [
    {"nombre": "Luc√≠a", "edad": 21},
    {"nombre": "Pedro", "edad": 17},
    {"nombre": "Ana", "edad": 30}
]

# Filtrar mayores de edad y transformar nombres a may√∫sculas
mayores = list(
    map(lambda d: d['nombre'].upper(), filter(lambda d: d['edad'] >= 18, clientes))
)

print(mayores)

['LUC√çA', 'ANA']

In [21]:
# Lista de listas
notas = [[15, 18, 20], [10, 12, 14], [17, 19, 20]]
# Calcular el promedio de cada estudiante
promedio = list(map(lambda g: sum(g) / len(g), notas))
print(promedio)

[17.666666666666668, 12.0, 18.666666666666668]

3. An√°lisis y limpieza de texto
- Muy √∫til para procesar datos de redes sociales, nombres, productos, etc.

In [22]:
nombres = ["  ana", "CARLOS  ", "luis", " Alberto"]

# Limpiar y normalizar
limpios = list(map(lambda x: x.strip().title(), nombres))

print(limpios)

['Ana', 'Carlos', 'Luis', 'Alberto']

In [23]:
# Contar palabras en una lista de frases
frases = ["Python es genial", "Python es f√°cil", "Amo Python"]

palabras = list(map(lambda x: x.split(), frases))

todas = reduce(lambda x, y: x + y, palabras)
conteo = {palabra: todas.count(palabra) for palabra in set(todas)}

print(conteo)

{'es': 2, 'f√°cil': 1, 'genial': 1, 'Amo': 1, 'Python': 3}

4. Agregaciones personalizadas con reduce
- Acumular de forma personalizada: conteos, concatenaciones, multiplicaciones, estructuras complejas.

üéØ Ejemplo: concatenar textos

In [24]:
valores = [1.1, 0.95, 1.05]

acumulado = reduce(lambda x, y: x * y, valores)
print(acumulado)

1.09725

üéØ Ejemplo: concatenar textos

In [25]:
frases = ["Python es incre√≠ble", "Aprender es poder", "Ense√±ar es mejor"]
concatenar = reduce(lambda x, y: x + '. '+ y, frases)
print(concatenar)

Python es incre√≠ble. Aprender es poder. Ense√±ar es mejor

5. Pipelines funcionales (ETL mini)
- Encadenar map, filter y reduce para construir peque√±os procesos de transformaci√≥n de datos.

In [26]:
# Temperaturas registradas, con errores
temperaturas = [22.4, 23.1, -999, 21.7, 24.3, -999, 20.9]

# 1. Filtrar errores (-999)
# 2. Convertir de ¬∞C a ¬∞F
# 3. Calcular promedio

valores_validos = list(filter(lambda x: x != -999, temperaturas))
conversion = list(map(lambda t: round(t * 9/5 + 32, 2), valores_validos))
promedio = reduce(lambda x, y: x + y, conversion) / len(conversion)

print(f'El promedio es {promedio}')

El promedio es 72.464

.

üî• Ejercicios avanzados

üß™ Ejercicio 1 ‚Äì Limpieza de nombres
- Tienes una lista de nombres sucios y quieres:

1. Quitar espacios

2. Pasarlos a min√∫sculas

3. Filtrar los que comienzan con ‚Äúa‚Äù

In [42]:
nombres = ["  Ana", "Alberto  ", " Luis", "andrea", "Carlos "]
# Resultado esperado: ['ana', 'alberto', 'andrea']

limpieza = list(filter(lambda x: x.startswith('a'),map(lambda x: x.strip().lower(), nombres)))

print(limpieza)

['ana', 'alberto', 'andrea']

Usa map() para limpieza y filter() para condici√≥n.

üß™ Ejercicio 2 ‚Äì Lista de diccionarios: transformar y filtrar

In [28]:
clientes = [
    {"nombre": "Luc√≠a", "edad": 21},
    {"nombre": "Pedro", "edad": 17},
    {"nombre": "Ana", "edad": 30}
]

Crea una lista de nombres en may√∫sculas solo de mayores de edad.

In [44]:
mayores = list(
    map(lambda d: d['nombre'].upper(),filter(lambda d: d['edad'] > 18, clientes))
)

print(mayores)
# R: ['LUCIA', 'ANA']

['LUC√çA', 'ANA']

üß™ Ejercicio 3 ‚Äì Reducci√≥n personalizada
- Dada esta lista de productos vendidos por d√≠a:

In [45]:
ventas = [100, 200, 150, 300]

Calcula con reduce el total de ganancias asumiendo que el 18% es IGV (es decir, te quedas con el 82%).

In [46]:
total_ganancias = reduce(lambda x, y: x + y, ventas) * 0.82
print(f'Total sin IGV: {total_ganancias}')

# R: Total sin IGV: 615.0

Total sin IGV: 615.0

üß™ Ejercicio 4 ‚Äì Encadenamiento map + filter + reduce
- Dado un listado de precios con valores incorrectos (0 o negativos):

In [ ]:
precios = [120, -10, 200, 0, 80]

- Filtra solo precios v√°lidos (> 0)

- Convierte a d√≥lares (tipo cambio = 3.7)

- Suma total en d√≥lares

In [51]:
filtrado = list(filter(lambda x: x > 0, precios))
conversion = list(map(lambda x: round(x / 3.7, 2), filtrado))
suma = reduce(lambda x, y: x + y, conversion)

print(f'{conversion} ‚Üí total: {suma}')
# R: [32.43, 54.05, 21.62]  ‚Üí total: 108.1

[32.43, 54.05, 21.62] ‚Üí total: 108.1

üß™ Ejercicio 5 ‚Äì Procesamiento de texto con reduce
- Dada una lista de frases, construye un solo texto concatenado con punto final:

In [34]:
frases = ["Python es poderoso", "Puedes analizar datos", "Visualizar con facilidad"]

In [52]:
total = reduce(lambda x, y: x + '. ' + y, frases)
print(total)

# R: "Python es poderoso. Puedes analizar datos. Visualizar con facilidad."

Python es poderoso. Puedes analizar datos. Visualizar con facilidad